[user]
	email = emmanuel@dudamobile.com
	name = Emmanuel Alhadeff
[push]
	default = simple
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[alias]
	br = branch
	co = checkout
	pp = !git pull --rebase && git push
	sync =!git stash save && git pull --rebase && git push && git stash pop
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	q = status --short --b
	p = pull --rebase
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn] %C(blue bold)(%cr.)\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate --numstat
	fl = log -u
	gr = grep -Ii
	rh = reset --hard
	sl = stash list
	sa = stash apply
	ss = stash save
	a = add -i
	cp = cherry-pick
	cm = commit
	orig = !git ls --no-merges --first-parent
[core]
	editor = vim
[merge]
	tool = meld
[grep]
	lineNumber = true
